<div class="profileView">
  <div class="profileBox">
    <div class="profileName">
      <h3>{{user.displayName}}</h3>
    </div>
    <div class="profileItemsCount">
      <h4>Items posted: {{itemNum}}</h4>
    </div>
    <!-- <div class="profileAbout">
      <p>
        ex. I'm looking for an original 60s Fender Jazzmaster and a  Nash Guitars 'Tele'.
      </p>
    </div> -->
  </div>

  <div class="itemsBox">
    <h1>Community Gear</h1>
    <div class="itemCard" ng-repeat="item in allItems | filter:searchText.search">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator itemPic" ng-src="{{item.url}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{item.title}}<i class="material-icons right">more_vert</i></span>
            <p ng-click="beginMessage(item)">Request Trade?</p>
            <a class="waves-effect waves-light btn-large" ng-click="addWish(item)">Add to Wish List</a>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{item.title}}<i class="material-icons right">close</i></span>
              <p>{{item.description}}</p>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- shows up when user requests trade -->
<div class="newMessage" ng-show="ShowNewMessage">
	<h2>Propose a trade!</h2>
  <label>Item to acquire: </label>
	<input type="text" placeholder="ex. Gibson SG" ng-model="messageTradeFor"/>
  <label>Item to offer: </label>
	<input type="text" placeholder="I'd like to trade..." ng-model="messageTradeWith"/>
  <label>Photo of your item: </label>
	<input type="text" placeholder="Your Item Url" ng-model="messageUrl"/>
	<div class="boardBtnBox">
		<button class="btn btn-normal" ng-click="sendMessage()">Send Request</button>
		<button class="btn btn-danger" ng-click="ShowNewMessage = !ShowNewMessage">X</button>
	</div>
</div>
