<div class="profileView">
  <div class="profileBox">
    <div class="profileName">
      <h3>{{user.displayName}}</h3>
    </div>
    <div class="profileItemsCount">
      <h4>Pending Trades: {{messageNum}}</h4>
    </div>
    <!-- <div class="profileAbout"></div> -->
  </div>

  <div id="receivedMessages">
    <h2>Pending Trades</h2>
    <div class="row">
      <div class="col s12 m7" ng-repeat="message in messages">
        <div class="card horizontal">
          <div class="card-image">
            <img ng-src="{{message.imgUrl}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">{{message.subject}}</span>
              <p>{{message.body}}</p>
            </div>
            <div class="card-action">
              <button ng-click="acceptTrade(message.id)">Accept</button>
              <button ng-click="rejectTrade(message.id)">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sentMessages">
    <h2>Your Proposals</h2>
    <div class="row">
      <div class="col s12 m7" ng-repeat="message in sentMessages">
        <div class="card horizontal">
          <div class="card-image">
            <img ng-src="{{message.imgUrl}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">{{message.subject}}</span>
              <p>{{message.body}}</p>
              <h5>Status: {{message.status}}</h5>
            </div>
            <div class="card-action">
              <button ng-click="cancelTrade(message.id)">Cancel Trade</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- what user sees when they accept a trade -->
<div class="acceptedTradeView" ng-show="ShowAcceptedTrade">
	<h2>Congrats!</h2>
  <div class="senderImg">
    <img ng-src="{{tradeInfo.senderImg}}" />
  </div>
  <h4>{{tradeInfo.senderName}}</h4>
  <p>{{tradeInfo.senderEmail}}</p>
	<div class="boardBtnBox">
		<button class="btn btn-danger" ng-click="ShowAcceptedTrade = !ShowAcceptedTrade">X</button>
	</div>
</div>
