<div class="navbar-fixed" ng-controller="NavCtrl">
  <nav class="tradesiesNav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Tradesies</a> <!-- this will be the logo -->
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="/profile">Gear List</a></li>
        <li><a href="#">Proposed Trades</a></li>
        <li><a href="#">Community Gear</a></li>
        <li class="active" ng-click="logout()"><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
