<div class="profileView">
  <div class="topRow">
    <div class="profileBox">
      <div class="profileName">
        <h3>{{user.displayName}}</h3>
      </div>
      <div class="profileImg">
        <img ng-src="{{user.photoURL}}" />
      </div>
      <div class="profileItemsCount">
        <h4>Items posted: {{itemNum}}</h4>
      </div>
      <a class="btn-floating btn-large waves-effect waves-light red addNewItem" ng-click="ShowNewItem = !ShowNewItem"><i class="material-icons">add</i></a>
    </div>

    <div class="itemsBox">
      <h1>Your Gear</h1>
      <div class="row">
        <div class="col s6 gearCard" ng-repeat="item in items">
          <div class="card horizontal">
            <div class="card-image">
              <img class="itemImg" ng-src="{{item.url}}">
            </div>
            <div class="card-stacked">
              <span ng-show="!editing[$index]">
                <div class="card-content">
                  <h5 class="header">{{item.title}}</h5>
                  <p>{{item.description}}</p>
                </div>
                <div class="card-action">
                  <a class="editGearCard" ng-click="showEdit($index)">Edit</a>
                  <button class="btn btn-danger" ng-click="Remove(item.id)">X</button>
                </div>
              </span>
              <div class="editForm" ng-show="editing[$index]">
                <label>Title:</label>
                <input type="text" id="title-{{$index}}" value="{{item.title}}" ng-required/>
                <label>Description:</label>
                <input type="text" id="desc-{{$index}}" value="{{item.description}}" ng-required/>
                <label>Photo Url:</label>
                <input type="text" id="url-{{$index}}" value="{{item.url}}" ng-required/>
                <button class="btn" id="btn-{{$index}}" ng-click="Edit(item.id, $event, $index)">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wishListBox">
    <h1>Wish List</h1>
    <div class="wishListWrapper">
      <div class="row wishRow">
        <div class="col s4 itemCard"  ng-repeat="item in wishItems">
          <div class="card">
            <div class="card-image">
              <img class="wishPic" ng-src="{{item.url}}">
              <span class="card-title">{{item.title}}</span>
            </div>
            <div class="card-content">
              <p>{{item.description}}</p>
            </div>
            <div class="card-action">
              <a class="requestTrade" ng-click="beginMessage(item)">Request Trade</a>
              <button class="btn btn-danger" ng-click="wishRemove(item.id)">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- shows up when user adds an item -->
<div class="newItem" ng-show="ShowNewItem">
	<h2>Make a new item!</h2>
	<input type="text" placeholder="Title" ng-model="itemTitle"/>
	<input type="text" placeholder="Description" ng-model="itemDescription"/>
	<input type="text" placeholder="Photo Url" ng-model="itemUrl"/>
  <div class="newItemTag">
    <img class="newItemTagImg" src="../img/want-a-sax.jpeg"/>
  </div>
  <p>Thanks for posting with Tradesies!</p>
  <div class="boardBtnBox">
    <button class="btn btn-normal" ng-click="createItem()" onclick="Materialize.toast('Added Gear!', 2000)">Add</button>
    <button class="btn btn-danger" ng-click="ShowNewItem = !ShowNewItem">X</button>
  </div>
</div>

<!-- shows up when user requests trade -->
<div class="newItem" ng-show="ShowNewMessage">
	<h2>Propose a trade!</h2>
	<input type="text" placeholder="Item to acquire:" ng-model="messageTradeFor"/>
	<input type="text" placeholder="Item to offer:" ng-model="messageTradeWith"/>
	<input type="text" placeholder="Photo URL of your item:" ng-model="messageUrl"/>
	<div class="boardBtnBox">
		<button class="btn btn-normal" ng-click="sendMessage()" onclick="Materialize.toast('Request Sent', 2000)">Send Request</button>
		<button class="btn btn-danger" ng-click="ShowNewMessage = !ShowNewMessage">X</button>
	</div>
</div>
