
/* this is for sticky footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Scope One', serif;
}

main {
  flex: 1 0 auto;
}

/*---NAV----*/

nav.tradesiesNav {
  background: #16a085;
}

.logo {
  font-family: 'Bungee Shade', cursive;
  margin-left: 10px;
}

.btn-danger {
  background-color: #c0392b;
}

.searchBar {
  color: white;
  cursor: pointer;
}

// #search {
//   background-color: lightgrey;
// }


/*------Splash Page---*/

#splashView {
  .heroImg {
    height: 900px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../img/gtr-smoke.jpeg') no-repeat;
    background-size: cover;
    background-position: bottom;
    h1 {
      font-family: 'Bungee Shade', cursive;
      margin-top: 0;
      padding-top: 200px;
      font-size: 10em;
      text-align: center;
      color: lightgrey;
    }
    h2 {
      color: #9b59b6;
      margin-top: 100px;
      text-align: center;

    }
    #bigLoginBtn {
      background-color: #9b59b6;
      height: 70px;
      width: 200px;
      border-radius: 35px 35px;
      margin: 40px auto 0;
      border: 1px solid white;
      cursor: pointer;

      .btnText {
        margin-top: 2px;
        text-align: center;
        font-size: 2em;
        color: lightgrey;
        padding-top: 12px;
      }
    }
  }
}

/*------Profile Page------*/
/* materialize card */
// div div div .gearCard {
//     width: 450px;
// }


.profileView {
  margin: 30px auto 0;
  width: 90%;
  .topRow {
    display: flex;
    justify-content: space-around;

    .profileBox {
      display: inline-block;
      margin-top: 30px;
      min-width: 250px;
      height: 375px;
      background: #16a085;
      color: white;
      border: 2px solid black;
      border-radius: 2%;

      .profileName h3 {
          font-size: 2em;
          text-align: center;
      }

      .profileImg img{
        border-radius: 50%;
        border: 2px solid white;
        height: 120px;
        margin: 0 70px;
      }

      .profileItemsCount {
        text-align: center;

        h4 {
          font-size: 1.5em;
        }
      }

      .addNewItem {
        margin: 20px 95px;
      }
    }

    .itemsBox {
      display: inline-block;
      width: 880px;
      // border: 2px solid red;
      h1 {
        text-align: center;
      }

      .gearCard {
        height: 200px;
        margin-bottom: 30px;

        .card-image {
          height: 200px;

          .itemImg {
            width: 150px;
            height: 200px;
          }
        }

        .editGearCard {
          cursor: pointer;
        }

        .btn-danger:active,
        .btn-danger:hover {
          background-color: #88291f;
        }
      }
    }
  }

  .wishListBox {
    border: 2px solid blue;
    margin: 20px 0;

    h1 {
      text-align: center;
    }

    .wishListWrapper {
      width: 85%;
      margin: 0 auto;
    }

    .wishRow {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .itemCard {
      margin: 0;
      width: 300px;
      height: 400px;

      .wishPic {
        height: 200px;
        // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      }

      .btn-danger:active,
      .btn-danger:hover {
        background-color: #88291f;
      }
    }
  }
}

.newItem {
  height: 550px;
  width: 500px;
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  -webkit-box-shadow: 40px 46px 182px 58px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 46px 182px 58px rgba(0,0,0,0.75);
  box-shadow: 40px 46px 182px 58px rgba(0,0,0,0.75);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 10px;
  }

  input {
    display: block;
    width: 90%;
    margin: 10px auto;
  }

  p {
    text-align: center;
  }

}

.newItemTag {
  display: flex;
  justify-content: center;

  .newItemTagImg {
    height: 120px;
    width: 120px;
    margin-top: 20px;
    border-radius: 50%;
  }
}

.boardBtnBox {
  display: flex;
  justify-content: center;
}

/*----Trades-----*/

.itemsBox h3 {
  margin-left: 200px;
}
.collection {
  width: 700px;
}

.row .messageCard {
  height: 250px;
  width: 80%;
  margin-bottom: 50px;
}

.completeTrade {
  color: #c0392b;
  margin-top: 5px;
}

.allMessages {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;

  h2 {
    text-align: center;
  }

  #receivedMessages {
    width: 80%;
    .messageCard {
      width: 90%;

      .card-image .itemPic {
        height: 200px;
      }
    }
  }

  #sentMessages {
    width: 80%;
    .messageCard {
      width: 90%;

      .card-image .itemPic {
        height: 200px;
      }
    }
  }
}

/*----All Items Page----*/

.itemCard {
  height: 270px;
  margin-bottom: 200px;
  .itemPic {
    height: 250px;
  }
}

.addWishBtn {
  margin: 10px 35px;
}

.requestTrade {
  display: inline-block;
  color: #ffab40;
  cursor: pointer;
}

.requestTrade:hover {
  border-bottom: 1px solid #ffab40;
}


/*-----Footer----*/

footer.tradesies-footer {
  background: #16a085;
  margin-top: 0;
}

.footerLinks:hover,
.footerLinks:active {
  border-bottom: 1px solid white;
  color: #9b59b6;
  transition: 0.2s;
}

.copyright {
  text-align: center;
}
